{% extends 'base.html' %} {% block content %}

<div class="container">
  <h1 class="mt-5 display-1">
    <a href="/" class="text-decoration-none">MovieReviews</a>
  </h1>
  <p class="lead">Пишите отзывы к фильмам!</p>
  <hr />
  <div class="row">
    {% if movies|length == 0 %}
    <p class="lead">Пока тут пусто, но скоро мы это исправим!</p>
    {% else %} {% for movie in movies %}
    <div class="col-md-4">
      <div class="card mb-4">
        <!-- <img src="./static/images/3.jpg" class="card-img-top" /> -->
        <div class="card-body">
          <h1 class="card-title display-6">{{ movie.title }}</h1>
          <p class="card-text">{{ movie.description|truncate(50) }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/movie/3" class="btn btn-lg btn-outline-secondary"
                >К отзывам</a
              >
            </div>
            <small class="text-muted"
              >Отзывов: {{ number_of_reviews(movie) }}
            </small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock content %}